<div class="firebase-buttons">
  <button class="login">login</button>
  <button class="login-by-google">login by google</button>
  <button class="login">login by Facebook</button>
  <button class="login">login by Apple</button>
  <button class="login">login by Tweetter</button>
  <button class="logout">logout</button>
  <button class="add_queue">add_to_watched</button>
  <button class="add_watched">add_to_watched</button>
  <button class="get">get</button>
  <button class="stat">stat</button>
</div>
