<div class="firebase-buttons">
  <button class="login">login</button>
  <button class="signup">sign-up</button>
  <button class="login-by-google">login by google</button>
  <!-- <button class="login">login by Facebook</button>
  <button class="login">login by Apple</button>
  <button class="login">login by Tweetter</button> -->
  <button class="logout">logout</button>
  <!-- <button class="add_queue">add_to_watched</button>
  <button class="add_watched">add_to_watched</button>
  <button class="get">get</button>
  <button class="stat">stat</button> -->
  <form action="auth" class="temp-auth">
    <input class="email" id="email" type="email" placeholder="Enter email" />
    <input
      class="password"
      id="password"
      type="password"
      placeholder="Enter password"
    />
    <button class="submit">Submit</button>
  </form>
</div>
